*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


:root{
    --margenes-izq-der: 20px 80px 0px 80px;
}
.fondo-container{
    width: 100%;
    height: 100%;
    background-position: center;
     
}

.header-wedding{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: var(--margenes-izq-der);
}

.redes-sociales{
    color: white;
    font-size: 18px;
}